<div class="wrapper">
  <div style="width: 20%">
    <button pButton label="Create Slide" (click)="onCreateSlide()"></button>
    <p-carousel [value]="slides"
                [numVisible]="5"
                [numScroll]="1"
                orientation="vertical"
                verticalViewPortHeight="100%"
                [circular]="false"
                [autoplayInterval]="0">
      <ng-template pTemplate="header">
        <h5>Slides</h5>
      </ng-template>
      <ng-template let-slide pTemplate="item">
          <img [src]="slide.src" [alt]="slide.alt" [title]="slide.title" style="display:block;width:100%" (click)="onSelectSlide($event)"/>
      </ng-template>
    </p-carousel>
  </div>
  <div class="selected-slide">
    <ng-container *ngIf="isNewSlide">

      <p-fileUpload name="slide" url="slides/upload" accept="image/*"	(onUpload)="onUpload($event.originalEvent.body)"></p-fileUpload>
    </ng-container>
    <ng-container *ngIf="!isNewSlide">
      <p-image src="https://primefaces.org/cdn/primeng/images/galleria/galleria1.jpg" alt="Image" width="250" [preview]="true"></p-image>
    </ng-container>
  </div>
</div>


