<div class="wrapper">
  <div style="width: 15%">
    <p-carousel [value]="slides"
                [numVisible]="3"
                [numScroll]="1"
                orientation="vertical"
                verticalViewPortHeight="500px"
                [circular]="false">
      <ng-template pTemplate="header">
        <h3>Slides</h3>
        <button pButton label="Create Slide" (click)="onCreateSlide()"></button>
      </ng-template>
      <ng-template let-slide pTemplate="item">
        <div class="carousel-card">
          <img src="{{Slide.imagePath + slide.mediaFile.name}}"
               [alt]="slide.name"
               style="display:block; height:100%; cursor: pointer"
               (click)="onSelectSlide(slide)"/>
        </div>
      </ng-template>
    </p-carousel>
  </div>
  <div class="selected-slide">
    <ng-container *ngIf="isNewSlide">
      <p-fileUpload name="slide" url="slides/upload" accept="image/*"	(onUpload)="onSave($event.originalEvent)"></p-fileUpload>
    </ng-container>
    <ng-container *ngIf="!isNewSlide && selectedSlide">
      <div class="preview">
        <p-image src="{{Slide.imagePath + selectedSlide.mediaFile.name}}" alt="Image" width="80%" [preview]="true"></p-image>
        <button pButton pRipple
                label="Delete"
                icon="pi pi-trash"
                class="w-10rem p-button-secondary"
                (click)="delete()">
        </button>
      </div>
    </ng-container>
  </div>
</div>


