.wrapper {
  height: 100%;
  display: flex;

  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: auto;
}


.selected-slide {
  width: 80%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.carousel-card {
  height: 120px !important;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
